.container_input {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 50%;
        border: 1px solid #ccc;
        outline: none;
        padding: 10px;
    }

    button {

        margin-left: 10px;
        padding: 10px;
        border: none;
        outline: none;
        color:black;
    }
}